html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #007bff;
    height: 80px;
    display: flex;
    align-items: center;
}

.header__name {
    color: white;
    margin-top: px;
    margin-left: 10px;
}

.header__name:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .header {
        width: 100%;
        background-color: #007bff;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}