html,
body {
    background-color: rgb(245, 231, 231);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}

.header__name {
    color: black;
    margin-left: calc(65px);
}

.header__name:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .header__name {
        color: black;
        margin-left: 25px;
    }
}