.container {
    width: 90%;
    margin: 1.6em auto;
    background-color: white;
    min-height: 500px;
    padding: 0 0.5rem;
}

.container>* {
    border-bottom: 1px solid grey;
}

.header-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50px;
    align-items: center;
}

.header-list__title {
    margin-left: 20 px;
    grid-column: 1/2;
}

.header-list__rigth {
    margin-right: 20px;
    gap: 15px;
    grid-column: 3/-1;
    display: flex;
    justify-content: flex-end;
}

.add-button {
    color: indigo;
}

.add-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.add-button:hover {
    color: indigo;
    background: rgb(238, 224, 224);
    cursor: pointer;
}

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.table>* {
    border-bottom: 1px solid grey;
}

.table__header {
    grid-column: 1/-1;
    height: 40px;
    display: grid;
    grid-template-columns: 55px repeat(4, 1fr);
    align-items: center;
}

.table__header th {
    grid-column: span 1;
    justify-self: flex-start;
}

.table__header-desc {
    grid-column: span 2;
}

.table__rows {
    height: 40px;
    margin-left: 15px;
    grid-column: 1/-1;
    display: grid;
    align-items: center;
    grid-template-columns: 40px repeat(4, 1fr);
}

.table__rows td {
    grid-column: span 1;
}

.table__rows-desc {
    grid-column: 3;
}

@media (max-width: 400px) {
    .header-list {
        height: 120px;
    }
    .header-list__title {
        margin-left: 20 px;
        margin-top: 20px;
        grid-column: 1/-1;
    }
    .header-list__rigth {
        grid-column: 1/-1;
        justify-content: space-between;
    }
    .table__header {
        grid-column: 1/-1;
        height: 40px;
        display: grid;
        grid-template-columns: 55px repeat(2, 1fr);
        align-items: center;
    }
    .table__rows {
        height: 40px;
        margin-left: 15px;
        grid-column: 1/-1;
        display: grid;
        align-items: center;
        grid-template-columns: 40px repeat(2, 1fr);
    }
    .table__header-desc,
    .table__rows-desc {
        display: none;
    }
}